<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<h:outputStylesheet
		name="global.css"
		library="css" />
</h:head>
<h:body>
	<f:view locale="#{localeController.locale}">
		<h:form>
			<div class="header">
				<h:link
					outcome="/view/coffee"
					styleClass="title"
					value="♥ Coffee" />
				<div class="languages">
					<h:commandLink
						styleClass="language"
						action="#{localeController.setLocale('en')}"
						value="EN"
						immediate="true" />
					<h:commandLink
						styleClass="language"
						action="#{localeController.setLocale('ru')}"
						value="RU"
						immediate="true" />
				</div>
			</div>
			<ui:insert name="content">
			</ui:insert>
		</h:form>
	</f:view>
</h:body>
</html>