<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:of="http://omnifaces.org/functions">
<h:body>
	<ui:composition template="template/template.xhtml">
		<ui:define name="content">
			<h:outputScript
				library="js"
				name="jquery-3.1.1.min.js" />
			<h:outputScript
				library="js"
				name="coffee.js" />
			<f:event
				listener="#{orderController.createNewOrderIfNeeded}"
				type="preRenderView" />
			<div class="make-order-container">
				<ui:insert>
					<ui:include src="parts/offer.xhtml" />
				</ui:insert>
				<ui:insert>
					<ui:include src="parts/makeOrderControl.xhtml" />
				</ui:insert>
			</div>
			<div>
				<h:messages
					layout="table"
					styleClass="errors" />
			</div>
			<div class="coffee-container">
				<ui:repeat
					var="orderItem"
					value="#{orderController.order.orderItems}"
					varStatus="status">
					<table class="coffee #{orderItem.quantity > 0 ? 'coffee-selected' : ''}">
						<tr>
							<td>
								<h:outputText value="#{orderItem.coffeeType.name}" />
							</td>
						</tr>
						<tr>
							<td>
								<h:outputText
									styleClass="coffee-price"
									value="#{orderItem.coffeeType.price} TGR" />
							</td>
						</tr>
						<tr>
							<td>
								<table class="coffee-quantity-controls">
									<tr>
										<td>
											<input
												type="button"
												value="&nbsp;&lt;&nbsp;"
												class="coffee-less" />
										</td>
										<td>
											<h:inputText
												type="text"
												value="#{orderItem.quantity}"
												size="3"
												styleClass="coffee-quantity #{component.valid ? '' : 'input-error'}"
												converterMessage="#{of:format1(strings['validation_qty_format'], configController.maxCupsPerTypeParameter.value)}"
												validatorMessage="#{of:format1(strings['validation_qty_format'], configController.maxCupsPerTypeParameter.value)}">
												<f:validateLongRange
													minimum="0"
													maximum="#{configController.maxCupsPerTypeParameter.value}"></f:validateLongRange>
											</h:inputText>
										</td>
										<td>
											<input
												type="button"
												value="&nbsp;&gt;&nbsp;"
												class="coffee-more" />
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</ui:repeat>
			</div>
			<div class="make-order-container">
				<ui:insert>
					<ui:include src="parts/makeOrderControl.xhtml" />
				</ui:insert>
				<ui:insert>
					<ui:include src="parts/offer.xhtml" />
				</ui:insert>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>