<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:of="http://omnifaces.org/functions">
<h:body>
	<ui:composition template="template/template.xhtml">
		<ui:define name="content">
			<div class="order-container">
				<table class="order">
					<tr>
						<th>#{strings['order_type']}</th>
						<th>#{strings['order_qty']}</th>
						<th>#{strings['order_price_per_cup']}</th>
						<th>#{strings['order_price']}</th>
					</tr>
					<ui:repeat
						var="orderItem"
						value="#{orderController.orderItemsWithNotZeroQuantity}">
						<tr>
							<td>#{orderItem.coffeeType.name}</td>
							<td>
								#{orderItem.quantity}
								<h:outputText
									rendered="#{orderItem.freeQuantity > 0}"
									value=" (#{orderItem.freeQuantity} #{strings['order_free']})" />
							</td>
							<td>
								<h:outputText value="#{orderItem.coffeeType.price} TGR" />
							</td>
							<td>
								<h:outputText value="#{orderItem.cost} TGR" />
							</td>
						</tr>
					</ui:repeat>
					<tr>
						<td
							colspan="3"
							align="right">#{strings['order_subtotal']}</td>
						<td>
							<h:outputText value="#{orderController.order.subtotalCost} TGR" />
						</td>
					</tr>
					<tr>
						<td
							colspan="3"
							align="right">#{strings['order_delivery']}</td>
						<td>
							<h:outputText value="#{orderController.order.deliveryCost} TGR" />
						</td>
					</tr>
					<tr>
						<td
							colspan="3"
							align="right">#{strings['order_total']}</td>
						<td>
							<h:outputText value="#{orderController.order.totalCost} TGR" />
						</td>
					</tr>
					<tr>
						<td colspan="4">
							<table class="payer-info">
								<tr>
									<td>#{strings['order_name']}</td>
									<td>
										<h:inputText
											id="name"
											value="#{orderController.order.payerName}"
											validatorMessage="#{of:format1(strings['validation_maximum_length'], 100)}">
											<f:validateLength maximum="100" />
										</h:inputText>
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<h:message
											styleClass="error"
											for="name" />
									</td>
								</tr>
								<tr>
									<td>#{strings['order_address']}</td>
									<td>
										<h:inputText
											id="deliveryAddress"
											value="#{orderController.order.deliveryAddress}"
											required="true"
											validatorMessage="#{of:format1(strings['validation_maximum_length'], 200)}"
											requiredMessage="#{strings['validation_address_required']}">
											<f:validateLength maximum="200" />
										</h:inputText>
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<h:message
											styleClass="error"
											for="deliveryAddress" />
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				<div class="order-controls-container">
					<h:button
						value="~ #{strings['order_back']} ~"
						styleClass="go-back button"
						outcome="/view/coffee" />
					<h:commandButton
						value="~ #{strings['order_confirm']} ~"
						styleClass="submit-order button"
						action="#{orderController.confirmOrder}" />
				</div>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>