<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
	<h:outputFormat
		styleClass="offer"
		value="#{strings['offer_cup']}">
		<f:param value="#{configController.freeCupParameter.value}" />
	</h:outputFormat>
	<h:outputFormat
		styleClass="offer"
		value="#{strings['offer_delivery']}">
		<f:param value="#{configController.freeDeliveryParameter.value}" />
	</h:outputFormat>
</h:body>
</html>