@CHARSET "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i');

* {
	font-family: 'Open Sans', sans-serif;
}

html, body {
	margin: 0px;
	padding: 0px;
	background-color: #fffbf4;
}

td {
	padding: 0px;
}

a {
	text-decoration: none;
}

.button {
	font-size: xx-large;
	border-radius: 4px;
	background: none;
	padding-left: 20px;
	padding-right: 20px;
	margin: 10px;
	cursor: pointer;
}

.header {
	background-color: #52483b;
	padding: 10px;
}

.title {
	font-size: xx-large;
	display: inline-block;
	color: #fbfbfb;
}

.languages {
	float: right;
}

.language {
	display: inline-block;
	color: #fbfbfb;
	font-size: x-large;
	padding-right: 10px;
}

.make-order-container {
	background-color: #3e372e;
	padding: 20px;
	text-align: center;
}

.offer {
	display: block;
	font-size: large;
	padding: 10px;
	color: #fbfbfb;
}

.make-order {
	color: #fbfbfb;
	border: 1px solid #fbfbfb;
}

.coffee-container {
	background-color: #fffbf4;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.coffee {
	font-size: xx-large;
	display: inline-table;
	border: 1px solid #ffccae;
	border-radius: 4px;
	padding: 10px;
	margin: 10px;
	font-style: italic;
	min-width: 220px;
	width: 30%;
	height: 300px;
	vertical-align: top;
	background: #ffeadb url("#{resource['img/coffeeTile.png']}");
}

.coffee-selected {
	border: 1px solid #d09f83 !important;
	background-color: #ffd9be !important;
}

.coffee-price {
	color: #a55418;
}

.coffee-quantity-controls {
	width: 100%;
}

.coffee-quantity {
	border: none;
	background-color: #fffbf4;
	border-radius: 4px;
	font-size: x-large;
	text-align: center;
}

.coffee-less, .coffee-more {
	border: 1px solid #ccb177;
	border-radius: 4px;
	background-color: #ffe0c0;
	color: #b78000;
	font-size: x-large;
	cursor: pointer;
}

@media screen and (min-width: 900px) {
	.coffee {
		width: 20%;
	}
}

@media screen and (min-width: 1400px) {
	.coffee {
		width: 15%;
	}
	.coffee-container {
		padding-left: 100px;
		padding-right: 100px;
	}
}

.order-container {
	text-align: center;
	font-size: x-large;
}

.order {
	display: inline-block;
	border-collapse: collapse;
	color: #3c3a3a;
}

.order td {
	border: 1px solid #b7b1ad;
	padding: 5px;
}

.order th {
	padding: 15px;
}

.payer-info {
	width: 100%;
	font-size: xx-large;
}

.payer-info input {
	font-size: xx-large;
}

.payer-info td {
	border: none;
}

.submit-order, .go-back {
	color: #3c3a3a;
	border: 1px solid #3c3a3a;
}

.order-controls-container {
	padding: 20px;
}

.order-result-container{
	text-align: center;
}

.order-result {
	display: block;
	padding: 20px;
	font-size: xx-large;
}

.make-another-order {
	color: #3c3a3a;
	border: 1px solid #3c3a3a;
}

.input-error {
	color: #ff1d1d;
	border: 1px solid #ff1d1d;
}

.error, .errors {
	color: #ff1d1d;
}

.errors {
	width: 100%;
	background-color: #ffeaeb;
	padding: 10px;
	text-align: center;
	font-size: x-large;
}